<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
序号	匹配度得分	结果
1	5.159822	飞利浦蒲公英<span style='color:red'>护眼</span>台灯工作学习阅读节能灯具30508<span style='color:red'>带</span><span style='color:red'>光源</span><br>
2	0.43331528	欧普照明led灯泡蜡烛节能灯泡e14螺口球泡灯超亮照明单灯<span style='color:red'>光源</span><br>
3	0.425806	飞利浦led灯泡e14螺口蜡烛灯泡3W尖泡拉尾节能灯泡暖黄<span style='color:red'>光源</span>Lamp<br>
4	0.425806	飞利浦led小球泡e14螺口4.5w透明款led节能灯泡照明<span style='color:red'>光源</span>lamp单灯<br>
5	0.425806	欧普照明led灯泡节能灯泡超亮<span style='color:red'>光源</span>e14e27螺旋螺口小球泡暖黄家用<br>
6	0.425806	聚欧普照明led灯泡节能灯泡e27螺口球泡家用led照明单灯超亮<span style='color:red'>光源</span><br>
序号	匹配度得分	结果
1	12.103186	43531	正品国行Apple/<span style='color:red'>苹果</span> <span style='color:red'>12</span> 英寸 MacBook 512GB 超薄笔记本电脑	数码家电会场	12456.0	浙江杭州	530883026897<br>
2	11.841122	43534	正品国行 Apple/<span style='color:red'>苹果</span> <span style='color:red'>12</span> 英寸 MacBook 256GB 超薄办公笔记本电脑	数码家电会场	10056.0	浙江杭州	530883474406<br>
3	9.275634	56958	菲寻 创意圣诞<span style='color:red'>苹果</span>盒平安果包装盒平安夜<span style='color:red'>苹果</span>礼品盒圣诞装饰礼物	百货会场	19.9	浙江金华	542093059451<br>
4	9.146562	154774	雀巢果维C+1000g 果珍 冲饮果汁 饮料粉 <span style='color:red'>苹果</span>粉 速溶浓缩<span style='color:red'>苹果</span>汁粉	零食会场	39.0	陕西西安	45240513111<br>
5	9.021032	87527	方广果汁泥组合黄桃草莓*2+清香<span style='color:red'>苹果</span>*2+<span style='color:red'>苹果</span>胡萝卜*12+甜嫩玉米*2	母婴主会场	70.4	江苏扬州	535623067593<br>
6	8.520356	35295	国际大奖小说 套装共3册 <span style='color:red'>苹果</span>树上的外婆+爱上读书的妖怪+屋顶上的小孩 少儿童文学 7-<span style='color:red'>12</span>-15岁成长励志小说 国内大奖书系 正版书籍	图书乐器会场	57.0	浙江杭州	526437502274<br>
7	7.980144	74042	texwood<span style='color:red'>苹果</span>衬衫秋季新款 红色长袖男士衬衫上衣男装9623111A	男装会场	659.0	广东江门	41180236403<br>
8	7.980144	140067	texwood<span style='color:red'>苹果</span>春秋新款女装 黑色圆领套头毛衣上衣9623741A	男装会场	799.0	广东江门	41555703907<br>
9	7.7909694	74057	texwood<span style='color:red'>苹果</span>春秋新款 时尚牛仔裤女修身小脚长裤9209258A	男装会场	899.0	广东江门	41435745197<br>
10	7.7909694	74063	texwood<span style='color:red'>苹果</span>  男装外套秋冬 韩版有帽针织羽绒男9519020A	男装会场	1990.0	广东江门	41200840331<br>
</body>
</html>